<div class="row navigation-bar">
	<div class="col-md-3">
		<p>logo</p>
	</div>

	<div class="col-md-9">
	
		<div id="navigation">
			<ul class="nav nav-pills navbar-right">
			  <li role="presentation"><a href="#/" class="navItem">Home</a></li>
			  <li role="presentation" class="active"><a href="#/EmpresaB" class="navItem">Empresa B</a></li>
			  <li role="presentation"><a href="#" class="navItem">Bodega</a></li>
			  <li role="presentation"><a href="#" class="navItem">Productos</a></li>
			  <li role="presentation"><a href="#" class="navItem">Visitas</a></li>
			  <li role="presentation"><a href="#" class="navItem">Tienda</a></li>
			  <li role="presentation"><a href="#" class="navItem">Contacto</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>

	</div>
</div>

<!-- <div class="row">
	<div class="col-md-12">
		<div class="banner">
		</div>
	</div>
</div> -->


<div class="row">
	<div class="col-md-12">
		<center>
			<iframe src="https://docs.google.com/a/virginia.edu/forms/d/e/1FAIpQLSfEnkKlPz234tl0W_LltNaDkoT9uW7frD5xAAyNz_u0Ha0kdA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</center>
	</div>
</div>