<div class="row navigation-bar">
	<div class="col-md-3">
		<p>logo</p>
	</div>

	<div class="col-md-9">
	
		<div id="navigation">
			<ul class="nav nav-pills navbar-right">
			  <li role="presentation" class="active"><a href="#" class="navItem">Home</a></li>
			  <li role="presentation"><a href="#/EmpresaB" class="navItem">Empresa B</a></li>
			  <li role="presentation"><a href="#" class="navItem">Bodega</a></li>
			  <li role="presentation"><a href="#" class="navItem">Productos</a></li>
			  <li role="presentation"><a href="#" class="navItem">Visitas</a></li>
			  <li role="presentation"><a href="#" class="navItem">Tienda</a></li>
			  <li role="presentation"><a href="#" class="navItem">Contacto</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>

	</div>
</div>

<div class="row">

	<div class="carousel">
		<div style="height: 305px">
			<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				<div uib-slide ng-repeat="slide in slides track by $index" index="$index">
					<img class="slidesimg" ng-src="{{slide.image}}" style="margin:auto; height: 430px;">
				</div>
			</div>
		</div>
	</div>

</div>


