<div>
<div class="container-fluid">
	<div class="row onboarding-background">
		<div class="col-xs-3 nopadding">
			<div class="createaccount">
				<div class="row">
					<div class="col-xs-offset-2 col-xs-8">
						<div class="createaccountstuff">
							<h1 class="createaccount-title">
								Register
							</h1>

							<div class="profileinputs">
								<div>
									<input class="signup-input" ng-model="name" placeholder="Name:"> 
								</div>

								<div>
									<input class="signup-input" ng-model="surname" placeholder="Surname:"> 
								</div>

								<div>
									<input class="signup-input" ng-model="email" placeholder="Email:"> 
								</div>

								<div>
									<input class="signup-input" ng-model="password" type="password" placeholder="Password:"> 
								</div>

								<div>
									<input class="signup-input" ng-model="phonenumber" placeholder="Phone Number:"> 
								</div>

								<div>
									<button class="signinbtn prettybtn" ng-click="signup()">
										Sign Up
									</button>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="col-xs-9 nopadding">
			<div>
				<img class="createaccount-img" src="/images/registration1.jpg">
			</div>
		</div>
	</div>
</div>
</div>
